/* GENERICS */
body {
    font-family: sans-serif;
    color: RGB(255 255 255);
}

:root {
    --green: rgb(26, 188, 156);
    --blue: rgb(58, 84, 109);
    --darkblue: rgb(44, 62, 80);
}

header {
    background-color: var(--darkblue);
    height: 90px;
}

footer .top {
    background-color: var(--blue);
}

footer .bottom {

    background-color: var(--darkblue);

    height: 70px;
}

/* UTILS */

img {
    width: 200px;
    height: 200px;
}

/* HEADER */

/* MAIN */

/* JUMBOTRON */

.jumbotron {
    background-color: var(--green);
}

/* PORTFOLIO */

/* ABOUT */

#about {
    background-color: var(--green);
}

/* CONTACT */


/* FOOTER */